.button {
  padding: 5px 15px;
  color: #fff;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #ecebed;
  width: 100%;
  max-width: 250px;
  height: 42px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: border-bottom 0.2s;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button:hover {
  border-bottom: 2px !important;
}