#area-to-chat-appear::-webkit-scrollbar {
  width: 8px;
}

#area-to-chat-appear::-webkit-scrollbar-track {
  background: #ebeced; 
}

#area-to-chat-appear::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  transition: background 0.2s;
}

#area-to-chat-appear::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3; 
}

.area-card-chat {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.area-card-chat .card-chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
  height: fit-content;
  min-height: 700px;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #ecebed;
  transition: all ease-in 0.2s;
}

.area-card-chat .card-chat .header-chats {
  display: flex;
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 15px;
  border-bottom: 1px solid #ecebed;
  margin-bottom: 15px;
}

.area-card-chat .card-chat .people-from-chat {
  display: flex;
  align-items: center;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 80px;
}

.area-card-chat .card-chat .people-from-chat span {
  margin-right: 3px;
}

.area-card-chat .card-chat .chat-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px 15px;
  
}

.area-card-chat .card-chat .chat-area .area {
  background: #fafafa;
  border: 1px solid #ecebed;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 25px;
  height: 100%;
  max-height: 492px;
  flex: 1;
  overflow-x: auto;
}

/* MESSAGES FROM USERS */

.area-card-chat .card-chat .chat-area .area .user-message {
  display: flex;
  width: fit-content;
  max-width: 75%;
  flex-direction: column;
  background: #fff;
  border: 1px solid #ecebed;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 10px;
}

.area-card-chat .card-chat .chat-area .area .user-message .user-username {
  color: #f6583a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.area-card-chat .card-chat .chat-area .area .my-message {
  display: flex;
  width: fit-content;
  max-width: 75%;
  flex-direction: column;
  margin: 0 0 0 auto;
  background: #fff;
  border: 1px solid #ecebed;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 10px;
}

.area-card-chat .card-chat .chat-area .area .my-message .my-username {
  color: #d54e34;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* TEXT MESSAGE */

.area-card-chat .card-chat .chat-area .area .message {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap:break-word;
}


/* FORM TO SEND MESSAGE */

.area-card-chat .card-chat .chat-area .to-send-message {
  display: flex;
}

.area-card-chat .card-chat .chat-area .to-send-message .button-send {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 5px 20px;
  margin-left: 15px;
  background: #f6583a;
  border-bottom: 3px solid #d54e34;
  border-radius: 5px;
  cursor: pointer;
}

.area-card-chat .card-chat .chat-area .to-send-message .button-send span {
  user-select: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.area-card-chat .card-chat .chat-area .to-send-message .button-send:hover {
  border-bottom: 0px;
}


@media only screen and (max-width: 768px) and (min-width: 0px) {
  .area-card-chat .card-chat .chat-area .area {
    max-height: 475px !important;
  }
}

@media only screen and (max-width: 320px) and (min-width: 0px) {
  .area-card-chat .card-chat {
    border-radius: 0;
  }

  .area-card-chat .card-chat .chat-area .area {
    max-height: 381px !important;
  }
}
